.dots
  position: fixed
  right: 20px
  z-index: 1

  height: 100%
  display: flex
  flex-direction: column
  justify-content: center

  &__item
    width: 8px
    height: 8px
    margin: 5px

    background-color: $color-dot
    border-radius: 50%
    opacity: 0.6

    transition: transform 300ms, opacity 300ms

    cursor: pointer

    &:hover
      opacity: 1
      transform: scale(1.6)

    &_is-active
      background-color: $color-dot-active

      transform: scale(2)
      transition: transform 300ms
